services:
  # 1. MongoDB Database
  db:
    image: mongo:latest
    container_name: fitness_db
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017" # Exposed for local Go development/testing
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password
  # 2. Go GraphQL API uses air for hot-reload
  api:
    image: cosmtrek/air
    container_name: fitness_api
    working_dir: /app/backend
    ports:
      - "8080:8080"
    environment:
      # Connection string for the Go API to access the 'db' service
      MONGO_URI: mongodb://user:password@db:27017/fitness_db?authSource=admin
      JWT_SECRET: "your-super-long-development-secret-key-12345"
    entrypoint: air
    depends_on:
      - db
    volumes:
      - ./backend:/app/backend # Mount code for quick recompilation during development
  # 3. Simple Web GUI for MongoDB
  adminer:
    image: adminer
    container_name: fitness_adminer
    ports:
      - "8088:8080"
    depends_on:
      - db
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    volumes:
      - ./frontend/src:/app/src
    ports:
      - 5173:5173
volumes:
  mongo_data:
