name: Deploy to GHCR

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: riverajo/fitness-app
  GITHUB_USERNAME: riverajo

jobs:
  build-image:
    name: Build & Push Image
    runs-on: docker
    container:
      image: data.forgejo.org/oci/node:24-trixie
      volumes:
        - /run/user/1000/podman/podman.sock:/var/run/docker.sock
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Podman CLI
        run: |
          apt-get update && apt-get install -y podman
          echo "CONTAINER_HOST=unix:///var/run/docker.sock" >> $GITHUB_ENV

      - name: Log in to GHCR
        # We use --password-stdin for security to avoid the PAT appearing in logs
        run: |
          echo "${{ secrets.GHCR_PAT }}" | podman login ghcr.io -u ${{env.GITHUB_USERNAME}} --password-stdin

      - name: Build & Tag Image
        run: |
          # 1. Build locally
          podman build --no-cache . -t fitness-app:${{ github.sha }}
          
          # 2. Tag for GHCR (Format: ghcr.io/owner/repo:tag)
          podman tag fitness-app:${{ github.sha }} ghcr.io/${{env.GITHUB_USERNAME}}/${{env.IMAGE_NAME}}:latest
          podman tag fitness-app:${{ github.sha }} ghcr.io/${{env.GITHUB_USERNAME}}/${{env.IMAGE_NAME}}:${{ github.sha }}

      - name: Push to GHCR
        run: |
          podman push ghcr.io/${{env.GITHUB_USERNAME}}/${{env.IMAGE_NAME}}:latest
          podman push ghcr.io/${{env.GITHUB_USERNAME}}/${{env.IMAGE_NAME}}:${{ github.sha }}

