name: Deploy to GHCR

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: riverajo/fitness-app
  GITHUB_USERNAME: riverajo

jobs:
  build-and-push:
    runs-on: docker
    container:
      image: quay.io/buildah/stable:v1.42
      volumes:
        - /run/user/1000/podman/podman.sock:/var/run/docker.sock

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Log in to GHCR
        run: |
          echo "${{ secrets.GHCR_PAT }}" | buildah login -u ${{env.GITHUB_USERNAME}} --password-stdin ghcr.io

      - name: Build image
        run: |
          # The -t flag sets the local name/tag
          buildah bud -t ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest .

      - name: Push to GHCR
        run: |
          buildah push ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest

